@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SpoqaHanSansNeo-Regular';
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 90vh;
}
h1{
  text-align: center;
}
.login-container {
  width: 340px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.7);
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-container input[type="checkbox"] {
  margin-right: 5px;
}

.login-container label {
  font-size: 14px;
  color: #333;
}

.login-container .options {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
}

.login-container .options a {
  font-size: 12px;
  color: #666;
  text-decoration: none;
}

.login-container .login-button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 10px;
}

.login-container .login-button:hover {
  border : 1px solid black;
  background-color: #ffffff;
  color: #000000;
}

#video {
  position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;}